<h1>Companies</h1>

<table>
	<tbody>
		<tr>
			<th>Company</th>
		</tr>
		<% @companies.each do |company| %>
		<tr>	
			<td><%= link_to company.name, company %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<% content_for :aside do %>
	<% render 'sidebar' %>
<% end %>